.content{
    flex: 1 0 auto;
    text-align: center;
    margin-bottom: 50px;

    &__title{
       font-weight: 400;
    }

    &__btn{
        display: inline-block;
        padding: 10px 20px;
        border-radius: 3px;
        color: #fff;
        background: #E30611;
        margin-right: 30px;
    }


    &__menu{
        margin-top: 30px;
        font-size: 15px;
        display: flex;
        justify-content: space-around;
        position: relative;
        padding-bottom: 5px;
        border-bottom: 1px solid #e4e4e4;

      

        &-item{
            transition: all ease .3s;
            padding: 10px 0;
            position: relative;

            &.active::after{
                content: '';
                display: block;
                width: 0;
                height: 3px;
                background: #e30613;
                transition: width .3s;
                position: absolute;
                bottom: -6px;
                width: 100%;
            }

            &:hover{
                color: #e30613;
                cursor: pointer;
            }
           
        }
    }

    &__product{
        display: none;
        border: 1px solid #efe8e8;
        border-radius: 3px;
        max-width: 100%;
        margin-top: 20px;
        padding: 25px 30px 40px;
      
        &.active{
            display: block;
        }

        &-title{
        font-size: 30px;
        text-align: left;
        }


        &-row{
            display: flex;
   
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &-left{
            width: 65%;
            
        }

        &-blocks{
            display: flex;
            flex-wrap: wrap;
        }
        &-block{
            padding: 20px 0 20px 0;
            text-align: left;
            width: 50%;

            &-title{
                line-height: 1.7;
                font-size: 25px;
            }
            &-text{
                font-size: 15px;
            }
            
            &:nth-child(1),&:nth-child(2){
                border-bottom: 1px solid #c4c4c4;
            }
        }

        &-right{
            width: 30%;
            img{
                max-width: 100%;
                box-shadow: 20px 20px 80px rgba(0,0,0,.2);
            }
        }
    }

    .dropdown{
        display: none;
        position: relative;
        width: 250px;
        text-align: left;
        &-select{
            width: 100%;
            border: 1px solid #c4c4c4;
            border-radius: 3px;
            padding: 10px 15px;
            cursor: pointer;

            &::after{
                content: '';
                display: block;
                position: absolute;
                top: 17px;
                right: 17px;
                width: 10px;
                height: 6px;
                background: url('../img/arrow-down.svg') no-repeat;
            }

            &.newAfter::after{
                content: '';
                display: block;
                position: absolute;
                top: 17px;
                right: 17px;
                width: 10px;
                height: 6px;
                background: url('../img/arrow-up.svg') no-repeat;
            }
        }
        &__items{
            display: none;
            position: absolute;
            width: 100%;

            &.active{
                display: block;
            }
        }

        &__item{
            cursor: pointer;
            padding: 10px 15px;
            background: #fff;
            border-bottom: 1px solid #c4c4c4;
            border-left:1px solid #c4c4c4 ;
            border-right: 1px solid #c4c4c4;

            &:last-child{
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }
    }
    
}